[Unit]
Description=RTPEngine proxy for RTP and other media streams
Requires=basic.target network.target
After=network.target network-online.target systemd-journald.socket basic.target
After=iptables.service redis.service rsyslog.service
# iptables.service is required only if the RTPEngine uses its kernel module.
# redis.service is required if the Redis server is working on the same machine along with the RTPEngine
DefaultDependencies=no

[Service]
Type=simple
Environment='CFGFILE=/etc/default/rtpengine.conf'
Environment='RUNDIR=/run/rtpengine'
EnvironmentFile=-$RUNDIR/daemon.conf
# PIDFile requires an absolute path
PIDFile=/run/rtpengine/rtpengine.pid
# ExecStart* requires an absolute path for the program
ExecStartPre=!-/usr/bin/dsiprouter chown -rtpengine
ExecStartPre=/usr/sbin/rtpengine-start-pre $CFGFILE
ExecStart=/usr/bin/rtpengine -f $OPTIONS
ExecStopPost=/usr/sbin/rtpengine-stop-post $CFGFILE
Restart=on-failure

[Install]
WantedBy=multi-user.target
