.navbar {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}

.navbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar > ul > li {
  -webkit-transition: all 0.2s cubic-bezier(0.2, 0.6, 0.4, 1);
  -moz-transition: all 0.2s cubic-bezier(0.2, 0.6, 0.4, 1);
  -o-transition: all 0.2s cubic-bezier(0.2, 0.6, 0.4, 1);
  transition: all 0.2s cubic-bezier(0.2, 0.6, 0.4, 1);
  background: rgba(0, 0, 0, 0.05);
  margin: 0 2px;
}

.navbar > ul > li a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.75);
}

.navbar > ul > li a:hover,
.current-navlink.current-navlink:hover {
  border: 2px solid rgba(255, 129, 0, 0.8);
  color: #0fafff;
}

.current-navlink.current-navlink {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgba(255, 129, 0, 1.0);
  border-left: 2px solid transparent;
  color: #3355ff;
  background: rgba(255, 255, 255, 1.0);
}

.spinner {
  width: 40px;
  height: 40px;
  clear: both;
  margin: 20px auto;
}

.spinner-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotator .5s infinite linear;
  -moz-animation: rotator .5s infinite linear;
  -o-animation: rotator .5s infinite linear;
  animation: rotator .5s infinite linear;
}

@-webkit-keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotator {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotator {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}