/*
* THIS WORK IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT THE USE OF THE SOFTWARE OR DOCUMENT WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
* COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR DOCUMENT.
* The name and trademarks of copyright holders may NOT be used in advertising or publicity pertaining to the work without specific, written prior permission. Title to copyright in this work will at all times remain with copyright holders.
*
* Original Version [combobox-1.1.css]: https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/css/combobox-1.1.css
* Copyright © [2015] World Wide Web Consortium, (Massachusetts Institute of Technology, European Research Consortium for Informatics and Mathematics, Keio University, Beihang). All Rights Reserved. This work is distributed under the W3C® Software License [1] in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* http://www.w3.org/Consortium/Legal/copyright-software
*
* Changes made by the dOpenSource Team
* Copyright © [2018] W3C®, dOpenSource
*/

.combobox-wrapper {
  position: relative;
  font-size: 16px;
}

.listbox, .grid {
  width: 100%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  z-index: 1;
}

.listbox .result {
  cursor: default;
  margin: 0;
}

.listbox .result:hover, .grid .result-row:hover {
  background: rgb(139, 189, 225);
}

.listbox .focused, .grid .focused {
  background: rgb(139, 189, 225);
}

.grid .focused-cell {
  outline-style: dotted;
  outline-color: green;
}

.combobox-wrapper input {
  padding-right: 30px;
}

.combobox-dropdown {
  position: absolute;
  padding: 0 0 2px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  right: .5px;
  top: .5px;
  height: 32.5px;
  width: 32.5px;
}

.grid .result-row {
  padding: 2px;
  cursor: default;
  margin: 0;
}

.grid .result-cell {
  display: inline-block;
  cursor: default;
  margin: 0;
  padding: 0 5px;
}

.grid .result-cell:last-child {
  float: right;
  font-size: 12px;
  font-weight: 200;
  color: #333;
  line-height: 24px;
}