bjoern
#certbot
cron_descriptor
cryptography
dnspython
docker
docutils<0.17,>=0.12
Flask~=2.0
Flask_WTF
itsdangerous==2.0.1
Jinja2==3.0.3
mysqlclient
pem
psycopg2
psycopg2_binary
pycryptodome
PyMySQL
pyOpenSSL
python_crontab
pytz
recommonmark
requests
sphinx
sphinxcontrib-httpdomain
sphinx-rtd-theme
SQLAlchemy~=2.0
twilio
Werkzeug~=2.0
