bjoern
certbot
cron_descriptor
cryptography>=3.3,<3.4
dnspython
docker
docutils<0.17,>=0.12
Flask==1.1.2
Flask_Script
Flask_WTF
itsdangerous
mysqlclient
psycopg2
psycopg2_binary
pycryptodome
PyMySQL
pyOpenSSL
python_crontab
pytz
recommonmark
requests
setproctitle
Sphinx==3.5.4
sphinxcontrib-httpdomain
sphinx-rtd-theme
SQLAlchemy
Werkzeug
