[Unit]
Description=dSIPRouter Service
DefaultDependencies=no
Requires=basic.target network.target
After=network.target network-online.target systemd-journald.socket basic.target
After=rsyslog.service mariadb.service nginx.service
Wants=nginx.service mariadb.service
PartOf=nginx.service

[Service]
Type=simple
PermissionsStartOnly=true
User=dsiprouter
Group=dsiprouter
Environment='DSIP_PROJECT_DIR=/opt/dsiprouter'
Environment='DSIP_RUN_DIR=/run/dsiprouter'
Environment='DSIP_SYSTEM_CONFIG_DIR=/etc/dsiprouter'
# PIDFile requires an absolute path
PIDFile=/run/dsiprouter/dsiprouter.pid
# ExecStart* requires an absolute path for the program
ExecStartPre=/bin/mkdir -p $DSIP_RUN_DIR
ExecStartPre=/bin/chown -R dsiprouter:dsiprouter $DSIP_RUN_DIR
ExecStart=/usr/bin/python3 $DSIP_PROJECT_DIR/gui/dsiprouter.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
