policy_module(consul, 1.0.0)

########################################
#
# Declarations
#

type consul_t;
type consul_exec_t;
init_daemon_domain(consul_t, consul_exec_t)

attribute consul_domain;

type consul_etc_t;
files_config_file(consul_etc_t)

type consul_cache_t;
files_type(consul_cache_t)

type consul_var_lib_t;
files_type(consul_var_lib_t)

type consul_var_run_t;
files_pid_file(consul_var_run_t)

type consul_tmp_t;
files_tmp_file(consul_tmp_t)

type consul_unit_file_t;
systemd_unit_file(consul_unit_file_t)

#######################################
#
# consul local policy
#

optional_policy(`
	unconfined_domain(consul_t)
')

########################################
#
# consul domain local policy
#


allow consul_t self:fifo_file rw_fifo_file_perms;
allow consul_t self:unix_stream_socket create_stream_socket_perms;
allow consul_t self:process signal_perms;
allow consul_t self:tcp_socket create_socket_perms;
allow consul_t self:udp_socket create_socket_perms;

manage_dirs_pattern(consul_domain, consul_cache_t, consul_cache_t)
manage_files_pattern(consul_domain, consul_cache_t, consul_cache_t)
manage_lnk_files_pattern(consul_t, consul_cache_t, consul_cache_t)
files_var_filetrans(consul_domain, consul_cache_t, { dir file })

manage_dirs_pattern(consul_domain, consul_log_t, consul_log_t)
manage_files_pattern(consul_domain, consul_log_t, consul_log_t)
manage_lnk_files_pattern(consul_t, consul_log_t, consul_log_t)
logging_log_filetrans(consul_domain, consul_log_t, { dir file })

manage_dirs_pattern(consul_domain, consul_var_lib_t, consul_var_lib_t)
manage_files_pattern(consul_domain, consul_var_lib_t, consul_var_lib_t)
manage_lnk_files_pattern(consul_t, consul_var_lib_t, consul_var_lib_t)
files_var_lib_filetrans(consul_domain, consul_var_lib_t, { dir file })

manage_dirs_pattern(consul_domain, consul_var_run_t, consul_var_run_t)
manage_files_pattern(consul_domain, consul_var_run_t, consul_var_run_t)
manage_lnk_files_pattern(consul_t, consul_var_run_t, consul_var_run_t)
files_pid_filetrans(consul_domain, consul_var_run_t, { dir file })

manage_dirs_pattern(consul_t, consul_tmp_t, consul_tmp_t)
manage_files_pattern(consul_t, consul_tmp_t, consul_tmp_t)
manage_lnk_files_pattern(consul_t, consul_tmp_t,consul_tmp_t)
files_tmp_filetrans(consul_t, consul_tmp_t, { file fifo_file dir })

# Stay in consul domain if consul is called by a script
can_exec(consul_domain, consul_exec_t)

kernel_read_system_state(consul_t)
kernel_read_network_state(consul_t)

corecmd_exec_bin(consul_domain)
corecmd_exec_shell(consul_domain)

## Consul needs to bind to ports 8301 8302 8300 8400 8500 8600, all labeled unreserved_port_t
corenet_tcp_bind_all_unreserved_ports(consul_domain)
corenet_udp_bind_all_unreserved_ports(consul_domain)

## Including read random and read urandom since Consul features TLS encryption.  Maybe we'll need those devices.
dev_read_rand(consul_domain)
dev_read_urand(consul_domain)
dev_read_sysfs(consul_domain)

domain_use_interactive_fds(consul_domain)

fs_getattr_all_fs(consul_domain)
fs_read_hugetlbfs_files(consul_domain)

files_read_etc_files(consul_domain)
files_read_usr_files(consul_domain)

miscfiles_read_localization(consul_domain)

sysnet_dns_name_resolve(consul_domain)