[Unit]
Description=dSIPRouter Service
After=network.target mysql.service

[Service]
Type=simple
Environment='DSIP_PROJECT_DIR=/opt/dsiprouter'
Environment='DSIP_RUN_DIR=/var/run/dsiprouter'
Environment='DSIP_SYSTEM_CONFIG_DIR=/etc/dsiprouter'
EnvironmentFile=-/etc/defaults/dsiprouter.conf
EnvironmentFile=-/etc/defaults/dsiprouter.d/*.conf
PIDFile=${DSIP_RUN_DIR}/dsiprouter.pid
ExecStartPre=-/bin/mkdir -p ${DSIP_RUN_DIR}
#ExecStartPre=-/bin/chown -R dsiprouter:dsiprouter ${DSIP_RUN_DIR}
ExecStart=/usr/bin/python3 ${DSIP_PROJECT_DIR}/gui/dsiprouter.py runserver
Restart=on-failure

[Install]
WantedBy=multi-user.target
