[Unit]
Description=dSIPRouter Service
After=network.target mysql.service syslog.service nginx.service

[Service]
User=dsiprouter
Group=dsiprouter
Type=simple
Environment='DSIP_PROJECT_DIR=/opt/dsiprouter'
Environment='DSIP_RUN_DIR=/var/run/dsiprouter'
Environment='DSIP_SYSTEM_CONFIG_DIR=/etc/dsiprouter'
EnvironmentFile=-/etc/defaults/dsiprouter.conf
EnvironmentFile=-/etc/defaults/dsiprouter.d/*.conf
# PIDFile requires an absolute path
PIDFile=/var/run/dsiprouter/dsiprouter.pid
# ExecStart* requires an absolute path for the program
ExecStartPre=-/bin/mkdir -p ${DSIP_RUN_DIR}
ExecStartPre=-/bin/chown -R dsiprouter:dsiprouter ${DSIP_RUN_DIR}
ExecStart=/usr/bin/python3 ${DSIP_PROJECT_DIR}/gui/dsiprouter.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
