{% extends 'table_layout.html' %}

{% block title %}Carrier Groups{% endblock %}

{% block custom_css %}
  {{ link_tag('carriergroups') }}
{% endblock %}

{% block table_headers %}
  <div>
    <h3>List of Carrier Groups</h3>
  </div>

  <div class="tableAddButton">
    <button id='open-CarrierGroupAdd' class='btn btn-success btn-md' data-title="Add" data-toggle="modal"
            data-target="#add-group"> Add
    </button>
  </div>
{% endblock %}


{% block table %}
  <!-- carrier-groups table -->
  <table id="carrier-groups" class="table table-striped table-centered">
    <thead>
    <tr class='element-row'>
      <th><input type="checkbox" class="checkall"/></th>
      <th data-field="gwgroup">ID</th>
      <th data-field="name">Name</th>
      <th data-field="gwlist">Carriers</th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr class='element-row' data-gwgroup="{{ row.id }}">
        <td><input type="checkbox" class="checkthis" value="1"/></td>
        <td class='gwgroup'>{{ row.id|noneFilter() }}</td>
        <td class='name'>{{ row.description|attrFilter('name')|noneFilter() }}</td>
        <td class='gwlist'>{{ row.gwlist|noneFilter() }}</td>
        <td class='authtype hide'>{{ row.r_username|noneFilter() }}</td>
        <td class='r_username hide'>{{ row.r_username|noneFilter() }}</td>
        <td class='auth_password hide'>{{ row.auth_password|noneFilter() }}</td>
        <td class='auth_domain hide'>{{ row.r_domain|noneFilter() }}</td>
        <td class='auth_username hide'>{{ row.auth_username|noneFilter() }}</td>
        <td class='auth_proxy hide'>{{ row.auth_proxy|noneFilter() }}</td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Edit">
            <button id="open-Update" class="open-Update btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                    data-target="#edit-group"><span class="glyphicon glyphicon-pencil"></span></button>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button id="open-Delete" class="open-Delete btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                    data-target="#delete-group"><span class="glyphicon glyphicon-trash"></span></button>
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block edit_modal %}
  <!-- edit-endpoint modal -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Edit Your Carrier Detail</h4>
  </div>

  <div class="modal-body">
    <form class="gwform" action="/carriers" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" class="gwid" name="gwid">
      <input type="hidden" class="gwgroup" name="gwgroup" value="{{ gwgroup|noneFilter() }}">

      <div class="form-group">
        <input class="form-control name" type="text" name="name"
               placeholder="Friendly Name(Optional)" autofocus="autofocus">
      </div>
      <div class="form-group">

        <input class="form-control ip_addr" type="text" name="ip_addr"
               placeholder="Hostname/IP">
      </div>
      <div class="form-group">
        <input class="form-control strip" type="text" name="strip"
               placeholder="# of characters to strip from RURI (outbound calls)">
      </div>
      <div class="form-group">
        <input class="form-control prefix" type="text" name="prefix"
               placeholder="The characters to prefix to a RURI (outbound calls)">
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Update
        </button>
      </div>
    </form>
  </div>
{% endblock %}


{% block add_modal %}
  <!-- add-endpoint modal -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Add New Carrier Detail</h4>
  </div>

  <div class="modal-body">
    <form class="gwform" action="/carriers" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" class="gwid" name="gwid">
      <input type="hidden" class="gwgroup" name="gwgroup" value="{{ gwgroup|noneFilter() }}">

      <div class="form-group">
        <input class="form-control name" type="text" name="name"
               placeholder="Friendly Name(Optional)" autofocus="autofocus">
      </div>
      <div class="form-group">
        <input class="form-control ip_addr" type="text" name="ip_addr"
               placeholder="Hostname/IP">
      </div>
      <div class="form-group">
        <input class="form-control strip" type="text" name="strip"
               placeholder="# of characters to strip from RURI (outbound calls)">
      </div>
      <div class="form-group">
        <input class="form-control prefix" type="text" name="prefix"
               placeholder="The characters to prefix to a RURI (outbound calls)">
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>
{% endblock %}


{% block delete_modal %}
  <!-- delete-endpoint modal -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
  </div>

  <div class="modal-body">
    <form class="gwform" action="/carrierdelete" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" class="gwid" name="gwid">
      <input type="hidden" class="name" name="name">
      <input type="hidden" class="gwgroup" name="gwgroup" value="{{ gwgroup|noneFilter() }}">
      <input type="hidden" class="related_rules" name="related_rules">

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want
        to delete this Record?
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove"></span> No
        </button>
      </div>
    </form>
  </div>
{% endblock %}


{% block custom_modals %}
  <!-- edit-group modal -->
  <div class="modal fade" id="edit-group" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
    <div class="modal-dialog resizable">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
              class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Edit Your Carrier Group</h4>
        </div>

        <div class="modal-body">

          <!-- nav tabs -->
          <div id="carrier-nav" class="navbar">
            <ul class="nav nav-tabs">
              <li role="presentation" class="nav-item">
                <a href="#" name="auth-toggle" data-type="toggle" class="nav-link">Auth</a>
              </li>
              <li role="presentation" class="nav-item">
                <a href="#" name="config-toggle" data-type="toggle" class="nav-link">Config</a>
              </li>
              <li role="presentation" class="nav-item">
                <a href="#" name="carriers-toggle" data-type="toggle" class="nav-link">Endpoints</a>
              </li>
              {#              <li role="presentation" class="nav-item">#}
              {#                <a href="/carriers" name="carriers-link" data-type="link" class="nav-link">Endpoints</a>#}
              {#              </li>#}
            </ul>
          </div>

           <!-- config form -->
          <div class="hidden" name="config-toggle" style="padding-top: 15px;">
            <form class="gwgroupform" action="/carriergroups" method="POST" role="form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" class="gwgroup" name="gwgroup">
              <input type="hidden" class="name" name="name">
              <input type="hidden" class="gwlist" name="gwlist">

              <div class="form-group">
                <input class="form-control new_name" type="text" name="new_name" placeholder="Group Name"
                       autofocus="autofocus">
              </div>

              <div class="modal-footer ">
                <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span
                    class="glyphicon glyphicon-ok-sign"></span> Update
                </button>
              </div>
            </form>
          </div>

          <!-- auth form -->
          <div class="hidden" name="auth-toggle">
            <form class="gwgroupform" action="/carriergroups" method="POST" role="form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" class="gwgroup" name="gwgroup">
              <input type="hidden" class="name" name="name">
              <input type="hidden" class="gwlist" name="gwlist">

              <div class="form-group">
                <div class="authoptions radio">
                  <label><input type="radio" data-toggle="ip_enabled" class="authtype" name="authtype" value="ip"
                                checked>IP Auth</label>
                  <label><input type="radio" data-toggle="userpwd_enabled" class="authtype" name="authtype"
                                value="userpwd">Username/Password Auth</label>
                </div>
              </div>

              <div class="form-group hidden" id="userpwd_enabled" name="userpwd_enabled" value="0">
                <p>Please enter the registration username and password provided by the carrier.</p>
                <div class="form-group">
                  <input class="form-control r_username" type="text" name="r_username"
                         placeholder="Username" autofocus="autofocus">
                </div>
                <div class="form-group">
                  <input class="form-control auth_password" type="password" name="auth_password"
                         placeholder="Auth Password">
                </div>
                <div class="form-group">
                  <input class="form-control auth_domain" type="text" name="auth_domain"
                         placeholder="Registration Server or Domain">
                </div>
                <div class="form-group">
          	      <h5 class="modal-title custom_align" id="Heading">Optional Credentials</h5>
                </div>
                <div class="form-group">
                  <input class="form-control auth_username" type="text" name="auth_username"
                         placeholder="Auth Username">
                </div>
                <div class="form-group">
                  <input class="form-control auth_proxy" type="text" name="auth_proxy"
                         placeholder="Outbound Proxy">
                </div>
              </div>
              <div class="modal-footer ">
                <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span
                    class="glyphicon glyphicon-ok-sign"></span> Update
                </button>
              </div>
            </form>
          </div>

          <!-- carriers table -->
          <div class="hidden" name="carriers-toggle">
            <div class="wrapper-horizontal edge-centered">

              <div class="tableAddButton">
                <button id='open-CarrierAdd' class='btn btn-success btn-md' data-title="Add" data-toggle="modal"
                        data-target="#add"> Add
                </button>
              </div>

              <div class="navBarButtons">
              </div>
            </div>

            <div id="carriers-table" class="table-responsive">
              <div id="carriers-loading wrapper-vertical centered">
                <div class="spinner spinner-circle"></div>
                <h5>Loading Your Carriers..</h5>
              </div>
            </div>
          </div>

        </div><!-- /.modal-body -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- add-group modal -->
  <div class="modal fade" id="add-group" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
              class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Add New Carrier Group</h4>
        </div>

        <div class="modal-body">
          <form class="gwgroupform" action="/carriergroups" method="POST" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" class="gwgroup" name="gwgroup">
            <input type="hidden" class="gwlist" name="gwlist">

            <div class="form-group">
              <input class="form-control name" type="text" name="name" placeholder="Group Name"
                     autofocus="autofocus">
            </div>

            <div class="form-group">
              <div class="authoptions radio">
                <label><input type="radio" data-toggle="ip_enabled" class="authtype" name="authtype" value="ip" checked>IP
                  Auth</label>
                <label><input type="radio" data-toggle="userpwd_enabled" class="authtype" name="authtype"
                              value="userpwd">Username/Password Auth</label>
              </div>
            </div>

            <div class="form-group hidden" id="userpwd_enabled" name="userpwd_enabled" value="0">
              <p>Please enter the registration username and password provided by the carrier.</p>
                <div class="form-group">
                  <input class="form-control r_username" type="text" name="r_username"
                         placeholder="Username" autofocus="autofocus">
                </div>
                <div class="form-group">
                  <input class="form-control auth_password" type="password" name="auth_password"
                         placeholder="Auth Password">
                </div>
                <div class="form-group">
                  <input class="form-control auth_domain" type="text" name="auth_domain"
                         placeholder="Registration Server or Domain">
                </div>
                <div class="form-group">
          	      <h5 class="modal-title custom_align" id="Heading">Optional Credentials</h5>
                </div>
                <div class="form-group">
                  <input class="form-control auth_username" type="text" name="auth_username"
                         placeholder="Auth Username">
                </div>
                <div class="form-group">
                  <input class="form-control auth_proxy" type="text" name="auth_proxy"
                         placeholder="Outbound Proxy">
                </div>
              </div>

            <div class="modal-footer ">
              <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
                  class="glyphicon glyphicon-ok-sign"></span> Add
              </button>
            </div>
          </form>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- delete-group modal -->
  <div class="modal fade" id="delete-group" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
              class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>

        <div class="modal-body">
          <form class="gwgroupform" action="/carriergroupdelete" method="POST" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" class="gwgroup" name="gwgroup">
            <input type="hidden" class="name" name="name">
            <input type="hidden" class="gwlist" name="gwlist">

            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want
              to delete all endpoints in this group?
            </div>

            <div class="modal-footer ">
              <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal"><span
                  class="glyphicon glyphicon-remove"></span> No
              </button>
            </div>
          </form>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block custom_js %}
  {{ script_tag('carriergroups') }}
{% endblock %}
