{% extends 'table_layout.html' %}

{% block custom_css %}
  {{ link_tag('cdrs') }}
{% endblock %}

{% block table_headers %}
  <div class="container">
    <div class="pageTitle">
      <h4>Call Detail Records</h4>
    </div>
    <div class="row">
      <div class="btn-group col-xs-3" id="menu">
        <select class="btn-primary btn-md" id="endpointgroups">
          <option class="hidden" value="0" selected disabled>Select Endpoint Group</option>
        </select>
        <i class="glyphicon glyphicon-download-alt" id="downloadCDR"></i>
      </div>
    </div>
  </div>
{% endblock %}


{% block table %}
  <table id="cdrs" class="table table-striped table-centered">
    <thead>
    <tr class='element-row'>
      <th data-field="id">CDR ID</th>
      <th data-field="gwid">Gateway ID</th>
      <th data-field="call_start_time">Call Start</th>
      <th data-field="calltype">Call Direction</th>
      <th data-field="subscriber">Subscriber</th>
      <th data-field="to_num">To</th>
      <th data-field="from_num">From</th>
      <th data-field="src_ip">Source IP</th>
      <th data-field="dst_domain">Destination Domain</th>
      <th data-field="duration">Call Duration</th>
      <th data-field="sip_call_id">Call ID</th>
    </tr>
    </thead>
  </table>

{% endblock %}


{% block custom_js %}
  {{ script_tag('jquery.tabledit') }}
  {{ script_tag('cdrs') }}
{% endblock %}
