{% extends 'table_layout.html' %}


{% block table_headers %}
 <div class="container">
  <div class="pageTitle row">
      <h4>List of Endpoint Groups</h4>
  </div>
  <div class="row">
  	<div class="btn-group mr-2">
    		<button id='open-EndpointGroupsAdd' class='btn btn-primary btn-md' data-title="Add" data-toggle="modal" data-target="#add">
      		Add
    		</button>
  	</div>
  	<!--<div class="btn-group">
		<div class="dropdown">
    			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Batch Actions<span class="caret"></span>
    			</button>

    			<div class="dropdown-menu" style="width:190px;padding:5px" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#" onclick='enableMaintenanceMode()'>Enable Maintenance Mode</a>
				<a class="dropdown-item" href="#" onclick='disableMaintenanceMode()'>Disable Maintenance Mode</a>
    			</div>
		</div>
  	</div>-->
  </div>
</div>
{% endblock %}


{% block table %}

  <table id="endpointgroups" class="table table-striped table-centered" >

    <thead>
      <tr class='element-row'>
        <th data-field="name">Name</th>
        <th data-field="gwgroupid">ID</th>
      </tr>
    </thead>
  </table>
{% endblock %}


{% block edit_modal %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
      class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  <h4 class="modal-title custom_align" id="Heading">Edit Endpoint Group Details
    <button id="open-Delete" class="open-Delete btn btn-danger btn-xs" data-title="Delete"
            data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span>
    </button>
  </h4>
</div>

<div class="modal-body">
  <form action="/endpointgroups" method="POST" role="form">
    <input class="gwid" type="hidden" name="gwid">
    <input class="gwgroupid" type="hidden" name="gwgroupid">
    <div class="form-group">
      <input class="name form-control" type="text" name="name" placeholder="Friendly Name(Optional)"
             autofocus="autofocus">
    </div>
    <!-- <div class="form-group">
      <input class="ip_addr form-control" type="text" name="ip_addr" placeholder="IP Address">
    </div> -->
    <div class="form-group">
      <input class="calllimit form-control" type="text" name="calllimit" placeholder="Max Concurrent Calls">
{% if (enterprise_enabled == False) %}
      <a href="/upgrade/calllimit" [Enterprise]/>
{% endif %}
    </div>
    <!-- nav tabs -->
        <div id="endpoint-nav" class="navbar">
          <ul class="nav nav-tabs">
            <li role="presentation" class="auth-tab active">
              <a href="#auth" name="auth-toggle" data-toggle="tab">Auth</a>
            </li>
            <li role="presentation">
              <a href="#endpoints" name="endpoints-toggle" data-toggle="tab">Endpoints</a>
            </li>
            <li role="presentation">
              <a href="#config" name="config-toggle" data-toggle="tab">Config</a>
            </li>
            <li role="presentation">
              <a href="#notifications" name="notifications-toggle" data-toggle="tab">Notifications</a>
            </li>
            <li role="presentation">
              <a href="#fusionpbx" name="fusion-toggle" data-toggle="tab">FusionPBX</a>
            </li>
          </ul>
        </div>
  <div class="tab-content"> <!-- begin tab content -->

    <div id="auth" class="tab-pane fade in active" name="auth-toggle">
      <div class="form-group">
        <div class="authoptions radio">
          <label><input class="authtype " type="radio" data-toggle="ip_enabled" name="authtype" value="ip" checked>IP
          Auth</label>
          <label><input class="authtype " type="radio" data-toggle="userpwd_enabled" name="authtype" value="userpwd">Username/Password
          Auth</label>
        </div>
      </div>

    <div class="form-group hidden" id="userpwd_enabled" name="userpwd_enabled" value="0">
      <p>Please enter a username and password for the PBX/Endpoint you want to register to. Specify domain if
        different than the default domain: <b>{{ DEFAULT_auth_domain }}</b></p>
      <div class="form-group">
        <input class="auth_username form-control" type="text" name="auth_username"
               placeholder="Auth Username">
      </div>
      <div class="form-group">
        <input class="auth_password form-control" type="password" name="auth_password"
               placeholder="Auth Password">
      </div>
      <div class="form-group">
        <input class="auth_domain form-control" type="text" name="auth_domain"
               placeholder="Auth Domain (optional)">
      </div>
    </div>
   </div> <!-- end of auth tab -->

   <div id="endpoints" class="tab-pane fade in" name="endpoints-toggle">
       <table id="endpoint-table" class="table">
         <thead>
         <tr>
           <th>PBX ID</th>
           <th>Hostname/IP</th>
           <th>Description</th>
         </tr>
       </thead>
       <tbody id="endpoint-tablebody">

       </tbody>
       </table>
       <button type="button" id="updateEndpointRow">Add Row</button>
   </div> <!-- enf of endpoints tab -->

    <div id="config" class="tab-pane fade in" name="config-toggle">
      <div class="form-group">
        <input class="strip form-control" type="text" name="strip"
             placeholder="# of characters to strip from RURI">
      </div>
      <div class="form-group">
        <input class="prefix form-control" type="text" name="prefix"
             placeholder="The characters to prefix to a RURI">
      </div>
    </div> <!-- end of config tab -->

    <div id="notifications" class="tab-pane fade in" name="notifications-toggle">
      <div class="form-group">
        <input class="email_over_max_calls form-control" type="text" name="email_over_max_calls"
             placeholder="Email for Over Max Concurrent Calls">
      </div>
      <div class="form-group">
        <input class="email_endpoint_failure form-control" type="text" name="email_endpoint_failure"
             placeholder="Email for Endpont Failure">
      </div>
    </div> <!-- end of notifications tab -->
    <div id="fusionpbx" class="tab-pane fade in" name="fusion-toggle">

      <div class="form-group">
      <div class="checkbox">
        <label class="label-toggle">
          <input class="toggleFusionPBXDomain" type="checkbox" data-toggle="toggle" value="1"
                 data-on="<span class='icon-fusionpbx'></span> Enabled"
                 data-off="<span class='icon-fusionpbx'></span> Disabled"
                 data-width="125px">
          FusionPBX Domain Support
        </label>
      </div>
      <input class="fusionpbx_db_enabled " type="hidden" name="fusionpbx_db_enabled" value="0">
    </div>
      <div class="alert alert-warning pre-scrollable">
        <strong>
          You need access to the FusionPBX database. Run these commands as root on the FusionPBX server.
          Replace &lt;ip address&gt; with the ip address of this server.
        </strong>
        <pre><code class="bash">sed  -i "s/#listen_addresses = 'localhost'/listen_addresses = '*'/"  /etc/postgresql/*/main/postgresql.conf
iptables -A INPUT -p tcp -s &lt;ip address&gt;/32 --dport 5432 -j ACCEPT
iptables-save > /etc/iptables/rules.v4
# Run this command if your don't want to enter a password for the FusionPBX Database(DB) Password
echo -e "host    all             all            &lt;ip address&gt;/32            trust" >> /etc/postgresql/*/main/pg_hba.conf
/etc/init.d/postgresql restart
# Run this command if your using fail2ban
sed -i -r 's|(ignoreip = .*)|\1 &lt;ip address&gt;/32|' /etc/fail2ban/jail.conf
systemctl restart fail2ban</code></pre>
      </div>
      <div class="form-group">
        <input class="fusionpbx_db_server form-control" type="text" name="fusionpbx_db_server"
               placeholder="FusionPBX Database IP or Hostname">
      </div>
      <div class="form-group">
        <input class="fusionpbx_db_username form-control" type="text" name="fusionpbx_db_username"
               placeholder="FusionPBX DB Username">
      </div>
      <div class="form-group">
        <input class="fusionpbx_db_password form-control" type="password" name="fusionpbx_db_password"
               placeholder="FusionPBX DB Password(Optional)">
      </div>
    </div>

    <div class="FreePBXDomainOptions form-group hidden">
      <div class="alert alert-warning pre-scrollable">
        <strong>
          Run these commands as root on the FreePBX server.
          Replace values within angle brackets '&lt;value&gt;' with your own values.
        </strong>
        <pre><code class="bash">iptables -A INPUT -p udp -s &lt;dsip ip address&gt;/32 --dport &lt;pbx sip port&gt; -j ACCEPT
iptables-save
# Run this command if your using fail2ban
sed -i -r 's|(ignoreip = .*)|\1 &lt;ip address&gt;/32|' /etc/fail2ban/jail.conf
systemctl restart fail2ban</code></pre>
      </div>
    </div>
    </div> <!-- end of fusionpbx tab -->

</div> <!-- end of tabcontent tab -->


    <div class="modal-footer ">
      <button type="button" id="updateButton" class="btn btn-warning btn-lg" style="width: 100%;" onclick='updateEndpointGroup()'><span
          class="glyphicon glyphicon-ok-sign"></span> Update
      </button>
    </div>
  </form>
</div>

{% endblock %}


{% block add_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Add Endpoint Group Details</h4>
  </div>

  <div class="modal-body">
    <form action="/endpointgroups" method="POST" role="form">
      <input class="gwid" type="hidden" name="gwid">
      <input class="gwgroup" type="hidden" name="gwgroup">
      <div class="form-group">
        <input class="name form-control" type="text" name="name" placeholder="Friendly Name(Optional)"
               autofocus="autofocus">
      </div>
      <!-- <div class="form-group">
        <input class="ip_addr form-control" type="text" name="ip_addr" placeholder="IP Address">
      </div> -->
      <div class="form-group">
      	<input class="calllimit form-control" type="text" name="calllimit" placeholder="Max Concurrent Calls">
	{% if (enterprise_enabled == False) %}
        <a href="/upgrade/calllimit" [Enterprise]/>
	{% endif %}
      </div>
      <!-- nav tabs -->
          <div id="endpoint-nav" class="navbar">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active">
                <a href="#auth2" name="auth-toggle" data-toggle="tab">Auth</a>
              </li>
              <li role="presentation">
                <a href="#endpoints2" name="endpoints-toggle" data-toggle="tab">Endpoints</a>
              </li>
              <li role="presentation">
                <a href="#config2" name="config-toggle" data-toggle="tab">Config</a>
              </li>
              <li role="presentation">
                <a href="#notifications2" name="notifications-toggle" data-toggle="tab">Notifications</a>
              </li>
              <li role="presentation">
                <a href="#fusionpbx2" name="fusion-toggle" data-toggle="tab">FusionPBX</a>
              </li>
            </ul>
          </div>
	  <div class="tab-content"> <!-- begin tab content -->

      <div id="auth2" class="tab-pane fade in active" name="auth-toggle">
      	<div class="form-group">
        	<div class="authoptions radio">
          	<label><input class="authtype " type="radio" data-toggle="ip_enabled" name="authtype" value="ip" checked>IP
            Auth</label>
          	<label><input class="authtype " type="radio" data-toggle="userpwd_enabled" name="authtype" value="userpwd">Username/Password
            Auth</label>
        	</div>
      	</div>

      <div class="form-group hidden" id="userpwd_enabled" name="userpwd_enabled" value="0">
        <p>Please enter a username and password for the PBX/Endpoint you want to register to. Specify domain if
          different than the default domain: <b>{{ DEFAULT_auth_domain }}</b></p>
        <div class="form-group">
          <input class="auth_username form-control" type="text" name="auth_username"
                 placeholder="Auth Username">
        </div>
        <div class="form-group">
          <input class="auth_password form-control" type="password" name="auth_password"
                 placeholder="Auth Password">
        </div>
        <div class="form-group">
          <input class="auth_domain form-control" type="text" name="auth_domain"
                 placeholder="Auth Domain (optional)">
        </div>
      </div>
     </div> <!-- end of auth tab -->

     <div id="endpoints2" class="tab-pane fade in" name="endpoints-toggle">
         <table id="endpoint-table2" class="table">
           <thead>
           <tr>
             <th>PBX ID</th>
             <th>Hostname/IP</th>
             <th>Description</th>
           </tr>
         </thead>
         <tbody id="endpoint-tablebody2">

         </tbody>
         </table>
         <button type="button" id="addEndpointRow">Add Row</button>
     </div> <!-- enf of endpoints tab -->

      <div id="config2" class="tab-pane fade in" name="config-toggle">
      	<div class="form-group">
        	<input class="strip form-control" type="text" name="strip"
               placeholder="# of characters to strip from RURI">
      	</div>
      	<div class="form-group">
        	<input class="prefix form-control" type="text" name="prefix"
               placeholder="The characters to prefix to a RURI">
      	</div>
      </div> <!-- end of config tab -->

      <div id="notifications2" class="tab-pane fade in" name="notifications-toggle">
        <div class="form-group">
          <input class="email_over_max_calls form-control" type="text" name="email_over_max_calls"
               placeholder="Email for Over Max Concurrent Calls">
        </div>
        <div class="form-group">
          <input class="email_endpoint_failure form-control" type="text" name="email_endpoint_failure"
               placeholder="Email for Endpont Failure">
        </div>
      </div> <!-- end of notifications tab -->
      <div id="fusionpbx2" class="tab-pane fade in" name="fusion-toggle">

        <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggleFusionPBXDomain" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-fusionpbx'></span> Enabled"
                   data-off="<span class='icon-fusionpbx'></span> Disabled"
                   data-width="125px">
            FusionPBX Domain Support
          </label>
        </div>
        <input class="fusionpbx_db_enabled " type="hidden" name="fusionpbx_db_enabled" value="0">
      </div>
        <div class="alert alert-warning pre-scrollable">
          <strong>
            You need access to the FusionPBX database. Run these commands as root on the FusionPBX server.
            Replace &lt;ip address&gt; with the ip address of this server.
          </strong>
          <pre><code class="bash">sed  -i "s/#listen_addresses = 'localhost'/listen_addresses = '*'/"  /etc/postgresql/*/main/postgresql.conf
iptables -A INPUT -p tcp -s &lt;ip address&gt;/32 --dport 5432 -j ACCEPT
iptables-save > /etc/iptables/rules.v4
# Run this command if your don't want to enter a password for the FusionPBX Database(DB) Password
echo -e "host    all             all            &lt;ip address&gt;/32            trust" >> /etc/postgresql/*/main/pg_hba.conf
/etc/init.d/postgresql restart
# Run this command if your using fail2ban
sed -i -r 's|(ignoreip = .*)|\1 &lt;ip address&gt;/32|' /etc/fail2ban/jail.conf
systemctl restart fail2ban</code></pre>
        </div>
        <div class="form-group">
          <input class="fusionpbx_db_server form-control" type="text" name="fusionpbx_db_server"
                 placeholder="FusionPBX Database IP or Hostname">
        </div>
        <div class="form-group">
          <input class="fusionpbx_db_username form-control" type="text" name="fusionpbx_db_username"
                 placeholder="FusionPBX DB Username">
        </div>
        <div class="form-group">
          <input class="fusionpbx_db_password form-control" type="password" name="fusionpbx_db_password"
                 placeholder="FusionPBX DB Password(Optional)">
        </div>
      </div>

      <div class="FreePBXDomainOptions form-group hidden">
        <div class="alert alert-warning pre-scrollable">
          <strong>
            Run these commands as root on the FreePBX server.
            Replace values within angle brackets '&lt;value&gt;' with your own values.
          </strong>
          <pre><code class="bash">iptables -A INPUT -p udp -s &lt;dsip ip address&gt;/32 --dport &lt;pbx sip port&gt; -j ACCEPT
iptables-save
# Run this command if your using fail2ban
sed -i -r 's|(ignoreip = .*)|\1 &lt;ip address&gt;/32|' /etc/fail2ban/jail.conf
systemctl restart fail2ban</code></pre>
        </div>
      </div>
      </div> <!-- end of fusionpbx tab -->

</div> <!-- end of tabcontent tab -->


      <div class="modal-footer ">
        <button type="button" id="addButton" class="btn btn-primary btn-lg" style="width: 100%;" onclick='addEndpointGroup()'><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>

{% endblock %}


{% block delete_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
  </div>

  <div class="modal-body">
    <form action="/pbxdelete" method="POST" role="form">
      <div class="form-group">
        <input class="gwgroup form-control" type="hidden" name="gwgroup">
        <input class="gwid form-control" type="hidden" name="gwid">
        <input class="name form-control" type="hidden" name="name">
      </div>

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want
        to delete this Endpoint Group?
      </div>

      <div class="modal-footer ">
        <button type="button" class="btn btn-success" onclick="deleteEndpointGroup()"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove"></span> No
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block custom_js %}

 {{ script_tag('jquery.tabledit') }}

  <script>
    $('#addEndpointRow').click(function() {
       var table = $('#endpoint-table2');
       var body = $('#endpoint-tablebody2');
       //var nextId = body.find('tr').length + 1;
       table.append($('<tr class="endpoint"><td name="pbxid"></td><td name="hostname"></td><td name="description"></td></tr>'));
       table.data('Tabledit').reload();
       $("#endpoint-table2" + " tbody tr:last td:last .tabledit-edit-button").trigger("click");

     });

     $('#updateEndpointRow').click(function() {
        var table = $('#endpoint-table');
        var body = $('#endpoint-tablebody');
        //var nextId = body.find('tr').length + 1;
        table.append($('<tr class="endpoint"><td name="pbxid"></td><td name="hostname"></td><td name="description"></td></tr>'));
        table.data('Tabledit').reload();
        $("#endpoint-table" + " tbody tr:last td:last .tabledit-edit-button").trigger("click");

      });

    $(document).ready(function() {
      $('#endpointgroups').DataTable({
        "ajax": { "url":"/api/v1/endpointgroups",
                  "dataSrc": "endpointgroups"
          },
          "columns": [
          { "data": "name" },
          { "data": "gwgroupid" }
          //{ "data": "gwlist", visible: false },

          ],

          "order": [[1, 'asc']]
      });

       var table = $('#endpointgroups').DataTable();
      $('#endpointgroups tbody').on( 'click', 'tr', function () {
        //Turn off selected on any other rows
        $('#endpointgroups').find('tr').removeClass('selected');

        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            //table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            gwgroupid = $(this).find('td').eq(1).text()
            //console.log(gwgroupid);
            $('#edit').modal('show');


        }
    } );

      $('#endpoint-table').Tabledit({
      //url: 'example.php',
      columns: {
        identifier: [0, 'id'],
        editable: [[1, 'col1'],[2, 'col2']],
        saveButton: true,
      },
      onAlways:function()
      {
        console.log("In Always");
          $('.tabledit-deleted-row').each( function( index, element ){
                $(this).remove();

          });
      }
    });

    $('#endpoint-table2').Tabledit({
    //url: 'example.php',
    columns: {
      identifier: [0, 'id'],
      editable: [[1, 'col1'],[2, 'col2']],
      saveButton: true,
    },
    onAlways:function()
    {
      console.log("In Always");
        $('.tabledit-deleted-row').each( function( index, element ){
              $(this).remove();

        });
    }
  });

  });
  </script>

{% endblock %}
