{% extends 'table_layout.html' %}

{% block custom_css %}
  {{ link_tag('combobox') }}
{% endblock %}

{% block table_headers %}
  <div>
    <h3>List of Inbound Mappings</h3>
  </div>

  <div class="tableAddButton">
    <button id='open-Add' class='btn btn-success btn-md' data-title="Add" data-toggle="modal"
            data-target="#add">Add
    </button>
    <button id='open-DIDImport' class='btn btn-success btn-md' data-title="Import DID's" data-toggle="modal"
            data-target="#import">Import DID
    </button>
  </div>
{% endblock %}


{% block table %}

  <table id="inboundmapping" class="table table-striped table-centered">

    <thead>
    <tr class='element-row'>
      <th></th>
      <th data-field="ruleid">Rule ID</th>
      <th data-field="prefix">DID (or DID pattern)</th>
      <th data-field="gwgroupid" class="hidden"></th>
      <th data-field="gwgroupname">Endpoint Group</th>
      <th data-field="rulename">Name</th>
      <th data-field="gwlist" class="hidden">Gateway List</th>
      <th></th>
      <th></th>
      <th data-field="hf_ruleid" class="hidden"></th>
      <th data-field="hf_groupid" class="hidden"></th>
      <th data-field="hf_gwgroupid" class="hidden"></th>
      <th data-field="hf_fwddid" class="hidden"></th>
      <th data-field="ff_ruleid" class="hidden"></th>
      <th data-field="ff_groupid" class="hidden"></th>
      <th data-field="ff_gwgroupid" class="hidden"></th>
      <th data-field="ff_fwddid" class="hidden"></th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr class='element-row'>
        <td><input type="checkbox" class="checkthis" value="1"/></td>
        <td class='ruleid'>{{ row.ruleid }}</td>
        <td class='prefix'>{{ row.prefix }}</td>
        <td class="gwgroupid hidden">{{ row.gwgroupid }}</td>
        {% if row.gwlist.split(',')|length > 1 %}
          <td class='gwgroupname'>{{ row.gwgroup_description|attrFilter('name') }}<sup> +1</sup></td>
        {% else %}
          <td class='gwgroupname'>{{ row.gwgroup_description|attrFilter('name') }}</td>
        {% endif %}
        <td class="rulename">{{ row.rule_description|attrFilter('name') }}</td>
        <td class="gwlist hidden">{{ row.gwlist }}</td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Edit">
            <button id="open-Update" class="open-Update btn btn-primary btn-xs" data-title="Edit"
                    data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
            </button>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button id="open-Delete" class="open-Delete btn btn-danger btn-xs" data-title="Delete"
                    data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span>
            </button>
          </p>
        </td>
        <td class="hf_ruleid hidden">{{ row.hf_ruleid|noneFilter() }}</td>
        <td class="hf_groupid hidden">{{ row.hf_groupid|noneFilter() }}</td>
        <td class="hf_gwgroupid hidden">{{ row.hf_gwgroupid|noneFilter() }}</td>
        <td class="hf_fwddid hidden">{{ row.hf_fwddid|noneFilter() }}</td>
        <td class="ff_ruleid hidden">{{ row.ff_ruleid|noneFilter() }}</td>
        <td class="ff_groupid hidden">{{ row.ff_groupid|noneFilter() }}</td>
        <td class="ff_gwgroupid hidden">{{ row.ff_gwgroupid|noneFilter() }}</td>
        <td class="ff_fwddid hidden">{{ row.ff_fwddid|noneFilter() }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block edit_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Edit Your Inbound Mapping Rule</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmapping" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="ruleid" type="hidden" name="ruleid">
      <input class="hf_ruleid" type="hidden" name="hf_ruleid">
      <input class="ff_ruleid" type="hidden" name="ff_ruleid">
      <input class="hf_groupid" type="hidden" name="hf_groupid">
      <input class="ff_groupid" type="hidden" name="ff_groupid">

      <div class="form-group">
        <input class="form-control rulename" type="text" name="rulename" placeholder="Friendly Name (Optional)"
               autofocus="autofocus">
      </div>

      <div class="form-group">
        {% if imported_dids|length > 0 %}
          <div class="combobox-wrapper">
            <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                 aria-haspopup="listbox">
              <input class="did-combobox-input prefix form-control" type="text" name="prefix" placeholder="DID"
                     aria-autocomplete="both" aria-controls="did-listbox">
              <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                   aria-label="Toggle DIDs Shown">
                <span class="did-combobox-span icon-circle-down centered"></span>
              </div>
            </div>
            <ul class="did-listbox listbox hidden" role="listbox"></ul>
          </div>
        {% else %}
          <input class="prefix form-control" type="text" name="prefix" placeholder="DID">
        {% endif %}
      </div>

      <div class="form-group">
        <select class="gwgroupid form-control" name="gwgroupid" title="gwgroupid" required="required">
          <option class="hidden" value="" selected disabled>Endpoint Group</option>
          {% for epgroup in epgroups %}
            <option value="{{ epgroup['id'] }}">{{ epgroup['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>


      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-hardfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_hardfwd'></span> Enabled"
                   data-off="<span class='icon-call_hardfwd'></span> Disabled"
                   data-width="125px">
            Hard Forwarding
          </label>
        </div>
        <input class="hardfwd_enabled" type="hidden" name="hardfwd_enabled" value="0">
      </div>

      <div class="hardfwd-options hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input hf_fwddid form-control" type="text" name="hf_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="hf_fwddid form-control" type="text" name="hf_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="hf_gwgroupid form-control" name="hf_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>


      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-failfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_failfwd'></span> Enabled"
                   data-off="<span class='icon-call_failfwd'></span> Disabled"
                   data-width="125px">
            Failover Forwarding
          </label>
        </div>
        <input class="failfwd_enabled" type="hidden" name="failfwd_enabled" value="0">
      </div>

      <div class="failfwd-options hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input ff_fwddid form-control" type="text" name="ff_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="ff_fwddid form-control" type="text" name="ff_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="ff_gwgroupid form-control" name="ff_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Update
        </button>
      </div>
    </form>
  </div>

{% endblock %}


{% block add_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Add New Inbound Mapping Rule</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmapping" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="ruleid" type="hidden" name="ruleid">

      <div class="form-group">
        <input class="form-control rulename" type="text" name="rulename" placeholder="Friendly Name (Optional)"
               autofocus="autofocus">
      </div>

      <div class="form-group">
        {% if imported_dids|length > 0 %}
          <div class="combobox-wrapper">
            <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                 aria-haspopup="listbox">
              <input class="did-combobox-input prefix form-control" type="text" name="prefix" placeholder="DID"
                     aria-autocomplete="both" aria-controls="did-listbox">
              <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                   aria-label="Toggle DIDs Shown">
                <span class="did-combobox-span icon-circle-down centered"></span>
              </div>
            </div>
            <ul class="did-listbox listbox hidden" role="listbox"></ul>
          </div>
        {% else %}
          <input class="prefix form-control" type="text" name="prefix" placeholder="DID">
        {% endif %}
      </div>

      <div class="form-group">
        <select class="gwgroupid form-control" name="gwgroupid" title="gwgroupid" required="required">
          <option class="hidden" value="" selected disabled>Endpoint Group</option>
          {% for epgroup in epgroups %}
            <option value="{{ epgroup['id'] }}">{{ epgroup['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>


      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-hardfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_hardfwd'></span> Enabled"
                   data-off="<span class='icon-call_hardfwd'></span> Disabled"
                   data-width="125px">
            Hard Forwarding
          </label>
        </div>
        <input class="hardfwd_enabled" type="hidden" name="hardfwd_enabled" value="0">
      </div>

      <div class="hardfwd-options form-group hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input hf_fwddid form-control" type="text" name="hf_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="hf_fwddid form-control" type="text" name="hf_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="hf_gwgroupid form-control" name="hf_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>


      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-failfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_failfwd'></span> Enabled"
                   data-off="<span class='icon-call_failfwd'></span> Disabled"
                   data-width="125px">
            Failover Forwarding
          </label>
        </div>
        <input class="failfwd_enabled" type="hidden" name="failfwd_enabled" value="0">
      </div>

      <div class="failfwd-options form-group hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input ff_fwddid form-control" type="text" name="ff_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="ff_fwddid form-control" type="text" name="ff_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="ff_gwgroupid form-control" name="ff_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>

{% endblock %}


{% block delete_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmappingdelete" method="POST" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="ruleid" type="hidden" name="ruleid">
      <input class="hf_ruleid" type="hidden" name="hf_ruleid">
      <input class="ff_ruleid" type="hidden" name="ff_ruleid">
      <input class="hf_groupid" type="hidden" name="hf_groupid">
      <input class="ff_groupid" type="hidden" name="ff_groupid">

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want
        to delete this Record?
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove"></span> No
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block import_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Import DID's</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmappingimport" method="POST" role="form" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input class="ruleid" type="hidden" name="ruleid">
      <input class="hf_ruleid" type="hidden" name="hf_ruleid">
      <input class="ff_ruleid" type="hidden" name="ff_ruleid">
      <input class="hf_groupid" type="hidden" name="hf_groupid">
      <input class="ff_groupid" type="hidden" name="ff_groupid">

      <div class="form-group">
        <input class="form-control rulename" type="text" name="rulename" placeholder="Friendly Name (Optional)"
               autofocus="autofocus">
      </div>

      <div class="form-group">
        <label for="importFile">CSV File with DID's (<a href="/static/template/DID_example.csv" target="_blank">Download Example CSV</a>)</label>
        <input type="file" name="file" class="form-control-file" id="importFile">
      </div>

      <div class="form-group">
        <select class="gwgroupid form-control" name="gwgroupid" title="gwgroupid">
          <option class="hidden" value="" selected disabled>Override Endpoint Group (Optional)</option>
          {% for epgroup in epgroups %}
            <option value="#{{ epgroup['id'] }}">{{ epgroup['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-hardfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_hardfwd'></span> Enabled"
                   data-off="<span class='icon-call_hardfwd'></span> Disabled"
                   data-width="125px">
            Hard Forwarding
          </label>
        </div>
        <input class="hardfwd_enabled" type="hidden" name="hardfwd_enabled" value="0">
      </div>

      <div class="hardfwd-options form-group hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input hf_fwddid form-control" type="text" name="hf_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="hf_fwddid form-control" type="text" name="hf_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="hf_gwgroupid form-control" name="hf_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>


      <div class="form-group">
        <div class="checkbox">
          <label class="label-toggle">
            <input class="toggle-failfwd" type="checkbox" data-toggle="toggle" value="1"
                   data-on="<span class='icon-call_failfwd'></span> Enabled"
                   data-off="<span class='icon-call_failfwd'></span> Disabled"
                   data-width="125px">
            Failover Forwarding
          </label>
        </div>
        <input class="failfwd_enabled" type="hidden" name="failfwd_enabled" value="0">
      </div>

      <div class="failfwd-options form-group hidden">
        <div class="form-group">
          {% if imported_dids|length > 0 %}
            <div class="combobox-wrapper">
              <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                   aria-haspopup="listbox">
                <input class="did-combobox-input ff_fwddid form-control" type="text" name="ff_fwddid"
                       placeholder="Forwarded DID (default is unchanged)" aria-autocomplete="both"
                       aria-controls="did-listbox">
                <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                     aria-label="Toggle DIDs Shown">
                  <span class="did-combobox-span icon-circle-down centered"></span>
                </div>
              </div>
              <ul class="did-listbox listbox hidden" role="listbox"></ul>
            </div>
          {% else %}
            <input class="ff_fwddid form-control" type="text" name="ff_fwddid"
                   placeholder="Forwarded DID (default is unchanged)">
          {% endif %}
        </div>

        <div class="form-group">
          <select class="ff_gwgroupid form-control" name="ff_gwgroupid" title="gwgroupid">
            <option value="" selected="selected">Carrier/Endpoint Group (default is route via DID)</option>
            {% for gwgroup in gwgroups %}
              <option value="{{ gwgroup['id'] }}">{{ gwgroup['description']|attrFilter('name') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block custom_js %}
  {{ script_tag('combobox') }}
  <script type="application/javascript">
    var DID_LIST = JSON.parse("{{ imported_dids }}") || [];
  </script>
  {{ script_tag('inboundmapping') }}
{% endblock %}
