{% extends 'table_layout.html' %}

{% block custom_css %}
  {{ link_tag('combobox') }}
{% endblock %}

{% block table_headers %}

  <div class="tableAddButton">
    <h4>List of Inbound Mappings</h4>
    <button id='open-CarrierAdd' class='btn btn-success btn-md' data-title="Add" data-toggle="modal"
            data-target="#add">Add
    </button>
    <button id='open-DIDImport' class='btn btn-success btn-md' data-title="Import DID's" data-toggle="modal"
	    data-target="#import">Import DID
    </button>
  </div>

{% endblock %}


{% block table %}

  <table id="inboundmapping" class="table table-striped table-centered">

    <thead>
    <tr class='element-row'>
      <th></th>
      <th data-field="ruleid">Rule ID</th>
      <th data-field="prefix">DID (or DID pattern)</th>
      <th data-field="gateway">PBX(s)</th>
      <th data-field="notes">Notes</th>
      <th data-field="gwlist" class="hidden">PBX ID(s)</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr class='element-row'>
        <td><input type="checkbox" class="checkthis" value="1"/></td>
        <td class='ruleid'>{{ row.ruleid }}</td>
        <td class='prefix'>{{ row.prefix }}</td>
        {% if row.gwlist.split(',')|length > 1 %}
        <td class='gwname'>{{ row.description|attrFilter('name') }}<sup> +1</sup></td>
        {% else %}
          <td class='gwname'>{{ row.description|attrFilter('name') }}</td>
        {% endif %}
        <td class="notes">{{ row.notes }}</td>
        <td class="gwlist hidden">{{ row.gwlist }}</td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Edit">
            <button id="open-Update" class="open-Update btn btn-primary btn-xs" data-title="Edit"
                    data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
            </button>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button id="open-Delete" class="open-Delete btn btn-danger btn-xs" data-title="Delete"
                    data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span>
            </button>
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block edit_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Edit Your Inbound Mapping Rule</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmapping" method="POST" role="form">
      <input class="ruleid " type="hidden" name="ruleid">

      <div class="form-group">
        {% if imported_dids|length > 0 %}
          <div class="combobox-wrapper">
            <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                 aria-haspopup="listbox">
              <input class="did-combobox-input prefix form-control" type="text" name="prefix" placeholder="DID"
                     autofocus="autofocus" aria-autocomplete="both" aria-controls="did-listbox">
              <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                   aria-label="Toggle DIDs Shown">
                <span class="did-combobox-span icon-circle-down centered"></span>
              </div>
            </div>
            <ul class="did-listbox listbox hidden" role="listbox"></ul>
          </div>
        {% else %}
          <input class="prefix form-control" type="text" name="prefix" placeholder="DID" autofocus="autofocus">
        {% endif %}
      </div>

      <div class="form-group">
        <select class="gwid form-control" name="gwid" title="gwid">
          <option class="hidden" value="" selected disabled>Primary PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="alt_gwid form-control" name="alt_gwid" title="alt_gwid">
          <option class="hidden" value="" selected disabled>Failover PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
	     <input class="form-control notes" type="text" name="notes" placeholder="Notes about DID(s)">
     </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Update
        </button>
      </div>
    </form>
  </div>

{% endblock %}


{% block add_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Add New Inbound Mapping Rule</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmapping" method="POST" role="form">
      <input class="ruleid " type="hidden" name="ruleid">

      <div class="form-group">
        {% if imported_dids|length > 0 %}
          <div class="combobox-wrapper">
            <div class="did-combobox" role="combobox" aria-expanded="false" aria-owns="did-listbox"
                 aria-haspopup="listbox">
              <input class="did-combobox-input prefix form-control" type="text" name="prefix" placeholder="DID"
                     autofocus="autofocus" aria-autocomplete="both" aria-controls="did-listbox">
              <div class="did-combobox-arrow combobox-dropdown wrapper-vertical" tabindex="-1" role="button"
                   aria-label="Toggle DIDs Shown">
                <span class="did-combobox-span icon-circle-down centered"></span>
              </div>
            </div>
            <ul class="did-listbox listbox hidden" role="listbox"></ul>
          </div>
        {% else %}
          <input class="prefix form-control" type="text" name="prefix" placeholder="DID" autofocus="autofocus">
        {% endif %}
      </div>

      <div class="form-group">
        <select class="gwid form-control" name="gwid" title="gwid">
          <option class="hidden" value="" selected disabled>Primary PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="alt_gwid form-control" name="alt_gwid" title="alt_gwid">
          <option class="hidden" value="" selected disabled>Failover PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
	     <input class="form-control notes" type="text" name="notes" placeholder="Notes about DID(s)">
     </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>

{% endblock %}


{% block delete_modal %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmappingdelete" method="POST" role="form">
      <div class="form-group">
        <input class="ruleid form-control" type="hidden" name="ruleid">
      </div>

      <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want
        to delete this Record?
      </div>


      <div class="modal-footer ">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove"></span> No
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block import_modal %}
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <h4 class="modal-title custom_align" id="Heading">Import DID's</h4>
  </div>

  <div class="modal-body">
    <form action="/inboundmappingimport" method="POST" role="form" enctype="multipart/form-data">
      <input class="ruleid " type="hidden" name="ruleid">
      
      <div class="form-group">
        <label for="importFile">CSV File with DID's</label>
        <input type="file" name="file" class="form-control-file" id="importFile">
      </div>
      
      <div class="form-group">
        <select class="gwid form-control" name="gwid" title="gwid">
          <option class="hidden" value="" selected disabled>Primary PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="alt_gwid form-control" name="alt_gwid" title="alt_gwid">
          <option class="hidden" value="" selected disabled>Failover PBX</option>
          {% for gw in gwlist %}
            <option value="{{ gw['gwid'] }}">{{ gw['description']|attrFilter('name') }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
	     <input class="form-control" type="text" name="notes" placeholder="Notes about DID(s)">
     </div>

      <div class="modal-footer ">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span
            class="glyphicon glyphicon-ok-sign"></span> Add
        </button>
      </div>
    </form>
  </div>

{% endblock %}

{% block custom_js %}

  {{ script_tag('combobox') }}
  <script>
    var DID_LIST = JSON.parse("{{ imported_dids }}") || [];
  </script>
  {{ script_tag('inboundmapping') }}

{% endblock %}
