{% extends 'table_layout.html' %}

{% block title %}MSteams Configuration{% endblock %}

{% block custom_css %}
  {{ link_tag('msteams') }}
{% endblock %}


{% block table_headers %}
  <div>
    <h3>Microsoft Direct Routing Configuration for <span
        style="color:#1E8DB5;font-weight:bold">{{ domain.domain }}</span></h3>
  </div>

  <div class="tableAddButton">
    <button id="testConnectivity" class="btn btn-success btn-md" value='{{ domain.domain }}'>
      Test Connectivity
    </button>
  </div>
{% endblock %}


{% block table %}
  <div class="container-fluid">
    <div class="col col-md-3">
      <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Connectivity Status</a>
            </h4>
          </div>
          <div id="collapse1" class="collapse show">
            <ul class="list-group">
              <li class="list-group-item">Valid DNS Hostname <i id="hostname_check"
                                                                   class="ti ti-x"
                                                                   style="color:gray"></i></li>
              <li id="tls_check_row" class="list-group-item">TLS Certificates <i id="tls_check"
                                                                                    class="ti ti-x"
                                                                                    style="color:gray"></i></li>
              <li class="list-group-item">Option Messages <i id="option_check" class="ti ti-x"
                                                                style="color:gray"></i></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 d-none" id="configurationPanel">

    </div>
  </div>
{% endblock %}

{% block custom_js %}
  {{ script_tag('msteams') }}
{% endblock %}
