# ExecStop sends SIGQUIT to the main process
# If, after 3s nginx is still running, sends SIGTERM to main process
# If, after 6s nginx is still running, sends SIGKILL to all processes
[Unit]
Description=A high performance web server and a reverse proxy server
Documentation=man:nginx(8)
Requires=basic.target network.target
Wants=nginx-watcher.path
After=network.target network-online.target basic.target nss-lookup.target remote-fs.target
DefaultDependencies=no

[Service]
Type=forking
Environment='RUNDIR=/run/nginx'
PIDFile=/run/nginx/nginx.pid
ExecStartPre=/usr/bin/dsiprouter chown -certs -nginx
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/bin/kill -s SIGQUIT ${MAINPID}
TimeoutStopSec=3
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
