[Unit]
Description=Kamailio - the Open Source SIP Server
Requires=basic.target network.target
After=network.target network-online.target systemd-journald.socket basic.target
After=rsyslog.service dnsmasq.service mariadb.service
Wants=mariadb.service
DefaultDependencies=no

[Service]
Type=forking
User=kamailio
Group=kamailio
Environment='RUNDIR=/run/kamailio'
EnvironmentFile=/etc/default/kamailio.conf
EnvironmentFile=-/etc/default/kamailio.d/*.conf
# PIDFile requires a full absolute path
PIDFile=/run/kamailio/kamailio.pid
# Exec* requires a full absolute path
ExecStartPre=!-/usr/bin/dsiprouter chown -certs -kamailio
ExecStart=/usr/sbin/kamailio -P $PIDFILE -f $CFGFILE -m $SHM_MEMORY -M $PKG_MEMORY --atexit=no
Restart=on-failure
# /run/kamailio in tmpfs
RuntimeDirectory=kamailio
RuntimeDirectoryMode=0770
# necessary for chown of control files e.g. for jsonrpcs and ctl modules
AmbientCapabilities=CAP_CHOWN

[Install]
WantedBy=multi-user.target
