#=======================================================
# This is the default server domain profile.
# Settings in this domain will be used for all incoming
# connections that do not match any other server
# domain in this configuration file.
#
# We do not enable anything else than TLSv1.2+
# over the public internet. Clients do not have
# to present client certificates by default.
#=======================================================
[server:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = yes
private_key = /etc/dsiprouter/certs/dsiprouter.key
certificate = /etc/dsiprouter/certs/dsiprouter.crt
ca_list = /etc/dsiprouter/certs/cacert.pem
#crl = /etc/dsiprouter/certs/tls/crl.pem

#=======================================================
# This is the default client domain profile.
# Settings in this domain will be used for all outgoing
# TLS connections that do not match any other
# client domain in this configuration file.
# We require that servers present valid certificate.
#=======================================================
[client:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = yes
private_key = /etc/dsiprouter/certs/dsiprouter.key
certificate = /etc/dsiprouter/certs/dsiprouter.crt
ca_list = /etc/dsiprouter/certs/cacert.pem

#=======================================================
# Other domain profiles may be added here
#=======================================================
